langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-groq
arxiv
wikipedia
langchain-tavily
pypdf
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-ollama
transformers
accelerate
langchain_google_genai
fastapi
uvicorn
unsloth
streamlit
